.user {
    display: block;
    width: 100%;
    padding: var(--mantine-spacing-md);

    background-color: var(--mantine-color-hospitalPrimary-8);
    color: var(--mantine-color-white);

    transition: background-color 0.2s ease;

    border-radius: 0;
}

.user:hover {
    background-color: var(--mantine-color-hospitalPrimary-7);
}

.menuItem {
    display: block;
    width: 100%;
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);

    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-white));

    transition: background-color 0.2s ease;

    border-radius: 0;
}

.menuItem:hover {
    background-color: light-dark(
        var(--mantine-color-hospitalPrimary-9),
        rgba(255, 255, 255, 0.05)
    );
    color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-white));
}

.logout:hover {
    background-color: light-dark(
        var(--mantine-color-red-1),
        rgba(220, 38, 38, 0.1)
    );
    color: var(--mantine-color-red-6);
}