.inner{
    display:grid;

    grid-template-columns:minmax(0,1fr) 340px;

    gap:30px;
}

.nameField{
    grid-column:1 / -1;
}

.content{
    grid-column:1;
}

.sidebar{
    grid-column:2;
}

@media(max-width:992px){

.inner{

    grid-template-columns:1fr;
}

.nameField{

    grid-column:1;
}

.sidebar{

    grid-column:1;
}

.content{

    grid-column:1;
}

}