.link {
    text-decoration: none;
}

.card {
    transition: 0.3s ease all;

    @mixin hover {
        border: 1px solid light-dark(var(--mantine-color-hospitalPrimary-5), var(--mantine-color-white));

        .title {
            color: light-dark(var(--mantine-color-hospitalPrimary-5), var(--mantine-color-primary-5));
        }
    }
}

.title {
    color: light-dark(var(--mantine-color-hospitalPrimary-5), var(--mantine-color-white));
    transition: 0.2s ease all;
}
