.fc-event{
    cursor:pointer;
    transition: filter 0.15s ease;
}
.fc-event{
    background:#003764;
    border:none;
    border-radius:6px;
    padding:2px 6px;
}

.fc-event:hover{
    filter:brightness(1.08);
    transform: translateY(-1px);
}

/* Color de casilla del dia en modo claro y oscuro */
.fc .fc-day-today {
    background-color: rgba(7, 92, 161, 0.205) !important;
}
[data-mantine-color-scheme="dark"] .fc .fc-day-today {
    background-color: rgba(0, 55, 100, 0.25) !important;
}

/* bordes calendario modo noche */
[data-mantine-color-scheme="dark"]
.fc-theme-standard td,
[data-mantine-color-scheme="dark"]
.fc-theme-standard th{
    border-color:#e0dede;
}
/* Bordes internos modo claro */
[data-mantine-color-scheme="light"] .fc-theme-standard td,
[data-mantine-color-scheme="light"] .fc-theme-standard th {
    border-color: #595b5e;
}

/* Borde exterior modo claro */
[data-mantine-color-scheme="light"] .fc-scrollgrid {
    border-color: #595b5e !important;
}
/* Titulos de calendario en modo noche */
[data-mantine-color-scheme="dark"] .fc-col-header-cell-cushion{
    color:#030303;
}

